<table>
    <thead>
        <tr>
            <th>Place</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: places">
        <tr>
            <td data-bind="text: title"></td>
            <td data-bind="text: latitude"></td>
            <td data-bind="text: longitude"></td>
            <td>
                <button data-bind="click: $component.click">View details</button>
                <a data-bind="attr: {href: '#/places/id=' + id }">View details</a>
            </td>
        </tr>
    </tbody>
</table>
